<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/COMP3331 Assignment 1/src/RoutingPerformance.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="RoutingPerformance"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="LLP &quot;/Users/brianbolze/Documents/workspace/COMP3331/Topology.txt&quot; &quot;/Users/brianbolze/Documents/workspace/COMP3331/Workload.txt&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="COMP3331 Assignment 1"/>
</launchConfiguration>
